<div class="container overflow-hidden">
    <div class="row gy-5">
<div class="col-6">
    <div class=""><br>
        <img src="/assets/people.jpg"width="200%" height="500px" style="border-radius:8px;">
    </div>
</div><br>
<ul><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
The exam evaluates the student's ability of learning. It is an effective way to analyze the knowledge of students. It is a measurement of how much they learn and constraint in the study. An exam is for self-improvement.
An exam is a formal test that you take to show your knowledge or ability in a particular subject, or to obtain a qualification.
The word exam is short for examination, from 19th century student slang. An exam usually takes place in a class and consists of questions that test a student's knowledge. Sometimes the word describes the of medical test of some kind, like an eye exam, a dental exam, or a physical exam.
<br>
<br><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
Practice every day to improve the speed and the appearance of your handwriting. The more that you do it, the quicker and neater your handwriting will become. You can try writing  home, or transcribing notes quickly in the middle of class. Use the things that work and avoid things that slow you down.
One should be very serious and sincere to one's studies. One cannot do well if he neglects his studies. One should not memorize the answer without understanding.
To get higher marks in your exams, take thorough notes in your class so you can use them to study. 
<br>
<br><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
In the beginning, you need to write the introductory sentence. Provide information on the given points in a descriptive manner for clear understanding. And, make sure you are writing in more than one sentence. In the end, you should conclude all the necessary points for effective paragraph writing.
Good paragraphs begin with a topic sentence that brief explains what the paragraph is about. Next come a few sentences for development and support, elaborating on the topic with more detail. Paragraphs end with a conclusion .
</ul>
    </div>
</div>
    
    
    
  
        