<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/../assets/pen.jpg" class="d-block w-250" alt="..." style="height: 850px; opacity: 5;">
      <div class="carousel-caption px-3 text-center">
        <h5>Course</h5>
        <p id="car1 mt-2">
        <p><span><i class='bx bx' style='color:#ded9e3'>The life course refers to the stages of one’s life
              as a cohesive period of growth and development, not a cluster of disjointed experiences. From this
              perspective, the health of the individual can be seen as a product of their exposure to their physical,
              economic, and cultural environments, and the changes in those environments.
              In order to take on the responsibility of determining and addressing the source of a health issue from
              such a broad, complex perspective.
              The life course approach utilizes faculties from a wide spectrum of academic fields, such as biology,
              demography, psychology, sociology, and political science. Through the cooperation of professionals from
              these fields, the life course perspective has been implemented in order to address the major health
              problems of the modern world with a fittingly.Before delving into knowing the extracurricular online courses for the school students, let’s categorize what it is and what are its benefits. Extracurricular activities or courses online are defined as the activity which is pursued with the normal online course of the study.
              Extra curriculum Online courses are an excellent way to catch the student’s interest to the next level even if it is the topic you are interested in that you have to delve into or interest the students to develop.  These programs or classes enable the school students to pursue special interests, such as educational curriculum, like learning new games, technology, arts, sports, etc. </i></span>
        </p>

      </div>

    </div>
  </div>
</div>
<div class="container overflow-hidden ">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3">
        <div class="p-1 mx-6 text-end ">
          <img src="../../assets/Group 21.png" width="60px" >
        </div>
        <h5><b>MUSIC</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b' > Hearing music is a heart healthy.
              It elevates mood.
              It reduces stress.
              It relieves symptoms of depression.
              It stimulates memories.
              It manages pain.
              It eases pain.
              It helps people eat less.</i></span>
        </p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Although the exact definition of music varies
              widely even in the West, music contains melody, harmony, rhythm, timbre,
              pitch, silence, and form or structure.</i></span>
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/muusic.jpg " class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>

    <div class="col-6 ">
      <div class="p-3">
        <img src="/assets/sport.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
        <div class="p-1">
          <img src="../../assets/Group 24.png" width="60px">
        </div>
        <h5><b>SPORTS</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Sports Content means sports scores, statistics,
              game summaries, wire reports, news, editorial, photographs, video and
              audio files, fantasy sports games.</i></span>
        </p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Sports means all forms of physical activity which,
              through casual or organised participation, aim at expressing or
              improving physical fitness and mental wellbeing, forming social relationships or obtaining results in
              competition at all
              levels.</i></span>
        </p>


      </div>

    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1 text-end">
          <img src="../../assets/Group 27.png" width="60px">
        </div>
        <h5><b>DRAWING</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Drawing, the art or technique of producing images
              on a surface, usually paper, by means of marks, usually of ink,
              graphite, chalk, charcoal, or crayon.</i></span></p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Drawing mainly focuses on the physical aspects of
              the artwork, such as medium, color, value, space, etc., rather than on
              what it communicates. Content, on the other hand, refers to a work's subject matter.</i></span>
        </p>
      </div>
    </div>

    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/draw.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <img src="/assets/com.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1">
          <img src="../../assets/Group 30.png" width="60px">
        </div>
        <h5><b>COMPUTER LAB</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Computer labs typically offer Internet access and
              computer software to students, workers and others who might beneift
              from their use. Other hardware such as printers and sometimes scanners.</i></span>
        </p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Each person may only use one computer at a
              time.Computers and peripherals are not to be moved or reconfigured without approval of Lab and Classrooms
              staff.
              Students may not install software on lab computers.</i></span>
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1 text-end">
          <img src="../../assets/" >
        </div>
        <h5><b>ABACUS</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Abacus is an instrument that is used to calculate
              or count by using sliding counters and a rod.
              It was indeed the world's first calculator. It was first used in Europe, China, and Russia</i></span></p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> The old version of the Abacus was a shallow tray
              that consisted of sand where numbers could be erased easily when needed. The modern Abacus can be made up
              of wood or plastic.
            </i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/abacus 2.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <img src="/assets/art and craft.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1">
          <img src="../../assets/" >
        </div>
        <h5><b>ART AND CRAFT</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Art is described as an unstructured and open-ended
              form of work; that expresses emotions, feelings, and vision.
              Craft denotes a form of work, involving the creation of physical objects, by the use of hands and
              brain.</i></span>

        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> The term art and craft describes a broad range of
              activities, typically done by a person for their own pleasure.
              Arts and crafts describes a wide variety of activities involving making things with one's own hands. Arts
              and crafts is usually a hobby.
            </i></span>

      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1 text-end">
          <img src="../../assets/" width="60px">
        </div>
        <h5><b>ANNUAL DAY</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Annual day is a very special day in every school's
              curriculum. It gives th students a chance to show their special skills in dance, singing and other types
              of extra co-curricular activities.</i></span></p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Students are very enjoyable in that day.Students
              were got a prize while participate in the function.
              The school annual day is perhaps the function that we most eagerly await each year. This year too we had
              begun to prepare well in advance.</i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/annual day.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <img src="/assets/handwriting.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1">
          <img src="../../assets/" width="60px">
        </div>
        <h5><b>HAND WRITING</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> That handwritten content that we all loved
              reading. There are many ways to write content on the web for all kinds of purposes.Handwriting class are
              very useful to the students.
            </i></span>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> This is something that you can use completely free
              of charge by visiting the website. Once you are on the page, you can enter text for the heading and text
              for the content or page line.</i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1 text-end">
          <img src="../../assets/" width="60px">
        </div>
        <h5><b>NEET </b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> The National Eligibility Entrance Test (NEET) is
              one of the major entrance tests conducted in India. This test is the basis for qualification in the MBBS
              and BDS fields across India.</i></span> </p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> NEET exams are conducted and governed by the
              National Testing Agency who mandates the same under the regulation of the Ministry of Health and Family
              Welfare.
              The exams are conducted once a year and have an exam duration of 3 hours. </i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/neet.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="">
        <img src="/assets/sp.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1">
          <img src="../../assets/" width="60px">
        </div>
        <h5><b>SPOKEN ENGLISH</b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> The main contents of the Spoken English Class are
              ; Vocabulary, Group Discussion and Role Plays. Fluency in the English language.
              With our Spoken English modules, you will talk, practice and improve your pronunciation and intonation.
              <br>
              <br>
              <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Our face-to-face Spoken English course is
                    designed to help you achieve a natural speaking style, as well as gain confidence in speaking
                    English.</i></span>
            </i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <div class="p-1 text-end">
          <img src="../../assets/" width="60px">
        </div>
        <h5><b>YOGA </b></h5><br>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Yoga Class Script is normally based on the lineage
              of practice, the nature of the class, the theme of class, or simply based on what you see in your students
              at the beginning of the class.</i></span> </p>
        <p><span><i class='bx bxs-right-arrow' style='color:#29024b'> Students come from different backgrounds and based
              on their professional and personal lives, their minds would be cluttered with various thoughts. The
              opening yoga class script will help them slowly move away from their daily grind, slowly connect them to
              their body and breath, and make them feel calm and relaxed.</i></span>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 ">
        <img src="/assets/yoga.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
      </div>
    </div>
