<div class="container overflow-hidden">

    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3" >
              <div class="p-1 mx-6 text-end " >
                <img src="../../assets/Group 21.png"  width="60px"  >
              </div>
                <h5><b>MUSIC</b></h5><br>
                <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                  Hearing music is a heart healthy.
                  It elevates mood.
                  It reduces stress.
                  It relieves symptoms of depression.
                  It stimulates memories.
                  It manages pain.
                  It eases pain.
                  It helps people eat less.
                </p>
                <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                  Although the exact definition of music varies widely even in the West, music contains melody, harmony, rhythm, timbre,
                  pitch, silence, and form or structure.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 ">
                <img src="/assets/muusic.jpg " width="140%" height="300px" style="border-radius: 8px;">
            </div>
        </div>

        <div class="col-6 ">
            <div class="p-3">
                <img src="/assets/sport.jpg" width="100%" height="320px" style="border-radius: 8px;">
            </div>
        </div>
        <div class="col-6">
            <div class="p-3">
              <div class="p-1">
                <img src="../../assets/Group 24.png" width="60px">
              </div>
              <h5><b>SPORTS</b></h5><br>
              <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                Sports Content means sports scores, statistics, game summaries, wire reports, news, editorial, photographs, video and
                audio files, fantasy sports games.
              </p>
              <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                Sports means all forms of physical activity which, through casual or organised participation, aim at expressing or
                improving physical fitness and mental wellbeing, forming social relationships or obtaining results in competition at all
                levels.
              </p>


            </div>

        </div>
            <div class="col-6">
            <div class="p-3 ">
              <div class="p-1 text-end">
                <img src="../../assets/Group 27.png" width="60px">
              </div>
                <h5><b>DRAWING</b></h5><br>
                <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>Drawing, the art or technique of producing images on a surface, usually paper, by means of marks, usually of ink,
                   graphite, chalk, charcoal, or crayon.</p>
                   <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                    Drawing mainly focuses on the physical aspects of the artwork, such as medium, color, value, space, etc., rather than on
                    what it communicates. Content, on the other hand, refers to a work's subject matter, i.e., its meaning.
                   </p>
            </div>
        </div>

        <div class="col-6">
            <div class="p-3 ">
                <img src="/assets/draw.jpg" width="130%" height="310px" style="border-radius: 8px;">
            </div>
        </div>
        <div class="col-6">
            <div class="">
                <img src="/assets/com.jpg" width="100%" height="320px" style="border-radius: 8px;">
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 ">
              <div class="p-1">
                <img src="../../assets/Group 30.png" width="60px">
              </div>
                <h5><b>COMPUTER LAB</b></h5><br>
                <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                  Computer labs typically offer Internet access and computer software to students, workers and others who might beneift
                  from their use. Other hardware such as printers and sometimes scanners.
                </p>
                <p><span ><i class='bx bxs-right-arrow' style='color:#29024b'></i></span>
                  Each person may only use one computer at a time.Computers and peripherals are not to be moved or reconfigured without approval of Lab and Classrooms staff.
                  Students may not install software on lab computers.
                </p>
            </div>
        </div>
    </div>
  </div>
