.carousel-caption{
  height: 5vh;
  min-height: 600px;
  color: rgb(232, 226, 232);

}
.carousel-caption{

  z-index: 2;
}
.carousel-caption h5{

   font-size: 35px;
   letter-spacing: 2px;
   font-family: 'Times New Roman';
   text-align: center;
}
#car{
   font-family: 'Times New Roman';
   font-size: 30px;
   letter-spacing: 2px;
}
.car1{
  font-family: 'Times New Roman';
  font-size: 10px;
  letter-spacing: 2px;


}
