
* {
    
    font-family: 'Poppins', sans-serif;
  }
  #last{
    
    font-size:14px;
    color: rgb(130, 43, 223);
   }

   .last{
    
    color: rgb(87, 42, 159);
    font-size: 20px;
   }
   .last2{
    font-size:17px;
    color: rgb(87, 42, 159);
   }
   .mat-form-field{
    width:100%;
   }
   .last3{
    
    background-image:linear-gradient(rgb(126, 43, 126),rgb(186, 73, 157));
  }
   .info{
    color: rgb(87, 42, 159);
    font-size: 14px;
   }
  
.example-form-field {
  margin-right: 20px;
}