.carousel-caption{
    height: 5vh;
    min-height: 500px;
    color: rgb(248, 244, 248);

}
.carousel-caption{

   z-index: 2;
}
.carousel-caption h5{

    font-size: 35px;
    letter-spacing: 2px;
    font-family: cursive;
   text-align: center;
 }
 #car{
    font-family: cursive;
    font-size: 20px;
    letter-spacing: 2px;
 }
 .sty{
   font-family:cursive;
   font-size: 35px;
color:rgb(51, 27, 74)
 }
 .misvi{
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
   font-size: 15px;

 }
 .misvis{
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
   font-size: 15px;
   letter-spacing: 1px;

 }
