<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/../assets/[Downloader.la]-6370fc4e96fdc.jpg" class="d-block w-100" alt="..." style="height: 650px; opacity: 5;">
        <div class="carousel-caption px-3 text-center">
            <h5>About Us</h5>
            <p id="car">Our school provides a child-centered philosophy that promotes creative thinking and lifelong learning.
                 Our educators are dedicated to inspiring children to achieve the very highest 
                 standards in all their endeavors as they progress their educational journey with us.
                  Through partnerships with parents, we strive to make every academic dream a reality. 
                  We use psycho-metric algorithms to find every student’s unique talents and provide them a
                   complete platform including mental health, mentorship assistance, soft-skills enhancement and many more.
                    We are capable of transforming 
                  learning institutions with digital infrastructure, brand reputation and performance insights every year.
                 The School offers qualitative education blended in right proportion with moral values.</p>
           </div>
        </div>
     </div>
   </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <img src="/../assets/[Downloader.la]-636f7acec5719 (1).jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;"> 

      </div>
      <div class="col">
     <p class="misvis text-start mt-5">  We offer multiple internationally recognised curricula, including the English National Curriculum,
         the International Baccalaureate, the Swiss Maturité, and the American Curriculum.

At our day and boarding schools, we go beyond traditional learning to deliver a high quality,
 transformational education to thousands of students from kindergarten through to the end of secondary school.</p> 

      </div>
    </div>
    <h5 class="text-center mt-5  sty"> Our Vision and Mission</h5>
      <div class="row">
        <div class="col text-center ">
<img src="/../assets/WhatsApp_Image_2022-11-12_at_1.54.06_PM-removebg-preview.png" style="width:200px ; height:200px ;" class="mt-5">
        <p class="misvi  mt-5">
          To become a revered institution while grooming the child of today to be a capable, responsible,
           performing citizen and enabling growth holistically
           by creating a mature learning environment with the teaching and parental community at large.</p>
</div>
   
    
      <div class="col text-center  ">
<img src="/../assets/289-2893403_vision-and-mission-mission-and-vision-logo-hd-removebg-preview (1).png" style="width:200px ; height:200px ;border-radius: 50px;" class="mt-5">
     <p  class="misvi mt-5">We are committed to providing a positive learning environment that advocates considerate, responsible, and emotionally healthy behaviors.
       Each individual student will feel a part of the Central community, which promotes positive behavioral development.</p> 
</div>
  </div>
  <h5 class="text-center mt-3 text  mb-5 mt-5  sty">We Promise That Every Student Gets</h5>
  <img src="/../assets/d904001fff45ae44ecd79b33a0d31240.jpg" class="img-fluid mt-5 mb-5 mx-auto d-block" >


  <h5 class="text-center mt-3 text  mb-5 mt-5  sty">why choose us? </h5>
  <div class="row">
    <div class="col">
      <img src="/../assets/2f07c023978113622ccd09fd3496d6c1.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;"> 

    </div>
    <div class="col">
      <ul class="list-unstyled text-start mt-5 std">
        <li class="pt-2">  <img class="px-1" src="/../assets/right-arrow-solid-24.png">Valuing the development of creative activities.</li>

          <li class="pt-2">   <img class="px-1" src="/../assets/right-arrow-solid-24.png">Forbidding physical punishment and violence.</li>
          
          <li class="pt-2">   <img class="px-1" src="/../assets/right-arrow-solid-24.png">Providing a friendly, rewarding and supportive atmosphere.</li>
          
         <li class="pt-2">   <img class="px-1"src="/../assets/right-arrow-solid-24.png">Not tolerating bullying, harassment and discrimination.</li>
          
         <li class="pt-2">  <img class="px-1 " src="/../assets/right-arrow-solid-24.png">Supporting cooperation and active learning.</li>
        
      </ul>

    </div>
  </div>
</div>