 <div class="main-wrapper" >
<nav id="sidebar" class="active">
<div class="flex-shrink-0 p-3 bg-light" id="#sidebar" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Collapsible</span>
  </a>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" 
        aria-expanded="false">
        DASHBOARD
      </button> 
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        aria-expanded="false">
        DASHBOARD ANALYTICS
      </button>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle dropdown-toggle align-items-center rounded collapsed" data-bs-toggle="collapse "
        data-bs-target="#Admin-collapse" aria-expanded="false">
        ADMIN SECTION
      </button>
      <div class="collapse" id="Admin-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">ADMISSION QUERY</a></li>
          <li><a href="#" class="link-dark rounded">VISITOR BOOK</a></li>
          <li><a href="#" class="link-dark rounded">COMPLAINT</a></li>
          <li><a href="#" class="link-dark rounded">POSTAL RECEIVE</a></li>
          <li><a href="#" class="link-dark rounded">POSTAL DISPATCH</a></li>
          <li><a href="#" class="link-dark rounded">PHONE CALL LOG</a></li>
          <li><a href="#" class="link-dark rounded">ADMIN SETUP</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT CERTIFICATE</a></li>
          <li><a href="#" class="link-dark rounded">GENERATE CERTIFICATE</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#student-collapse" aria-expanded="false">
        STUDENT INFO
      </button>
      <div class="collapse" id="student-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">STUDENT CATEGORY</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT LIST</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT ATTENDANCE</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT ATTENDANCE REPORT</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT ADMISSION</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT GROUP</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT PROMOTE</a></li>
          <li><a href="#" class="link-dark rounded">DISABLED STUDENTS</a></li>

        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#academics-collapse" aria-expanded="false">
        ACADEMICS
      </button>
      <div class="collapse" id="academics-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">SECTION</a></li>
          <li><a href="#" class="link-dark rounded">CLASS</a></li>
          <li><a href="#" class="link-dark rounded">SUBJECTS</a></li>
          <li><a href="#" class="link-dark rounded">CLASS ROOM</a></li>
          <li><a href="#" class="link-dark rounded">CL/EX TIME SETUP</a></li>
          <li><a href="#" class="link-dark rounded">ASSIGN CLASS TEACHER</a></li>
          <li><a href="#" class="link-dark rounded">ASSIGN SUBJECT</a></li>
          <li><a href="#" class="link-dark rounded">CLASS ROUTINE</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#study-collapse" aria-expanded="false">
        STUDY MATERIAL
      </button>
      <div class="collapse" id="study-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">UPLOAD CONTENT</a></li>
          <li><a href="#" class="link-dark rounded">SYLLABUS</a></li>
          <li><a href="#" class="link-dark rounded">OTHER DOWNLOADS</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#fees-collapse" aria-expanded="false">
        FEES COLLECTION
      </button>
      <div class="collapse" id="fees-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">FEES GROUP</a></li>
          <li><a href="#" class="link-dark rounded">FEES TYPE</a></li>
          <li><a href="#" class="link-dark rounded">FEES DISCOUNT</a></li>
          <li><a href="#" class="link-dark rounded">FEES MASTER</a></li>
          <li><a href="#" class="link-dark rounded">COLLECT FEES</a></li>
          <li><a href="#" class="link-dark rounded">SEARCH FEES PAYEMENT</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
  <li class="mb-4">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#accounts-collapse" aria-expanded="false">
      ACCOUNTS
    </button>
    <div class="collapse" id="accounts-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="#" class="link-dark rounded">CHART OF ACCOUNT</a></li>
        <li><a href="#" class="link-dark rounded">BANK ACCOUNT</a></li>
        <li><a href="#" class="link-dark rounded">INCOME PROFIT</a></li>
        <li><a href="#" class="link-dark rounded">EXPENSE</a></li>
        <li><a href="#" class="link-dark rounded">SEARCH</a></li>
      </ul>
    </div>
  </li>
</ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#human-collapse" aria-expanded="false">
        HUMAN RESOURCES
      </button>
      <div class="collapse" id="human-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">DESIGNATION</a></li>
          <li><a href="#" class="link-dark rounded">DEPARTMENT</a></li>
          <li><a href="#" class="link-dark rounded">STAFF DIRECTORY</a></li>
          <li><a href="#" class="link-dark rounded">STAFF ATTENDANCE</a></li>
          <li><a href="#" class="link-dark rounded">STAFF ATTENDANCE REPORT</a></li>
          <li><a href="#" class="link-dark rounded">PAYROLL</a></li>
          <li><a href="#" class="link-dark rounded">PAYROLL REPORT</a></li>
          <li><a href="#" class="link-dark rounded">PSYCHOLOGIST</a></li>
          <li><a href="#" class="link-dark rounded">MENTOR</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#leave-collapse" aria-expanded="false">
        LEAVE
      </button>
      <div class="collapse" id="leave-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">LEAVE TYPE</a></li>
          <li><a href="#" class="link-dark rounded">LEAVE DEFINE</a></li>
          <li><a href="#" class="link-dark rounded">APPROVE LEAVE REPORT</a></li>
          <li><a href="#" class="link-dark rounded">PENDING LEAVE</a></li>
          <li><a href="#" class="link-dark rounded">APPLY LEAVE</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#exam-collapse" aria-expanded="false">
        EXAMINATION
      </button>
      <div class="collapse" id="exam-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">MARKS GRADE</a></li>
          <li><a href="#" class="link-dark rounded">ADD EXAM TYPE</a></li>
          <li><a href="#" class="link-dark rounded">EXAM SETUP</a></li>
          <li><a href="#" class="link-dark rounded">EXAM SCHEDULE</a></li>
          <li><a href="#" class="link-dark rounded">EXAM ATTENDANCE</a></li>
          <li><a href="#" class="link-dark rounded">MARKS REGISTER</a></li>
          <li><a href="#" class="link-dark rounded">SEND MARKS BY SMS</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#homework-collapse" aria-expanded="false">
        HOME WORK
      </button>
      <div class="collapse" id="homework-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">ADD HOMEWORK</a></li>
          <li><a href="#" class="link-dark rounded">HOMEWORK LIST</a></li>
          <li><a href="#" class="link-dark rounded">HOMEWORK EVALUATION REPORT</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#communicate-collapse" aria-expanded="false">
        COMMUNICATE
      </button>
      <div class="collapse" id="communicate-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">NOTICE BOARD</a></li>
          <li><a href="#" class="link-dark rounded">ADMINISTRATIVE NOTICE</a></li>
          <li><a href="#" class="link-dark rounded">SEND EMAIL/SMS</a></li>
          <li><a href="#" class="link-dark rounded">EMAIL/SMS LOG</a></li>
          <li><a href="#" class="link-dark rounded">EVENT</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#library-collapse" aria-expanded="false">
        LIBRARY
      </button>
      <div class="collapse" id="library-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">BOOK CATEGORIES</a></li>
          <li><a href="#" class="link-dark rounded">ADD BOOK</a></li>
          <li><a href="#" class="link-dark rounded">BOOK LIST</a></li>
          <li><a href="#" class="link-dark rounded">ADD MEMBER</a></li>
          <li><a href="#" class="link-dark rounded">ISSUE/RETURN BOOK</a></li>
          <li><a href="#" class="link-dark rounded">ALL ISSUED BOOK</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#invent-collapse" aria-expanded="false">
        INVENTORY
      </button>
      <div class="collapse" id="invent-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">ITEM CATEGORY</a></li>
          <li><a href="#" class="link-dark rounded">ITEM LIST</a></li>
          <li><a href="#" class="link-dark rounded">ITEM STORE</a></li>
          <li><a href="#" class="link-dark rounded">SUPPLIER</a></li>
          <li><a href="#" class="link-dark rounded">ITEM RECEIVE</a></li>
          <li><a href="#" class="link-dark rounded">ITEM RECEIVE LIST</a></li>
          <li><a href="#" class="link-dark rounded">ITEM SHELL</a></li>
          <li><a href="#" class="link-dark rounded">ITEM ISSUE</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#transport-collapse" aria-expanded="false">
        TRANSPORT
      </button>
      <div class="collapse" id="transport-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">ROUTES</a></li>
          <li><a href="#" class="link-dark rounded">VECHICLE</a></li>
          <li><a href="#" class="link-dark rounded">ASSIGN VEHICLE</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT TRANSPORT REPORT</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#dormitory-collapse" aria-expanded="false">
        DORMITORY
      </button>
      <div class="collapse" id="dormitory-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">ROOM TYPE</a></li>
          <li><a href="#" class="link-dark rounded">DORMITORY</a></li>
          <li><a href="#" class="link-dark rounded">DORMITORY ROOMS</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT DORMITORY REPORT</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#reports-collapse" aria-expanded="false">
        REPORTS
      </button>
      <div class="collapse" id="reports-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">STUDENT REPORT</a></li>
          <li><a href="#" class="link-dark rounded">GUARDIAN REPORTS</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT HISTORY</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT LOGIN REPORT</a></li>
          <li><a href="#" class="link-dark rounded">STATEMENT</a></li>
          <li><a href="#" class="link-dark rounded">BALANCE FEES REPORT</a></li>
          <li><a href="#" class="link-dark rounded">TRANSACTION REPORT</a></li>
          <li><a href="#" class="link-dark rounded">CLASS REPORT</a></li>
          <li><a href="#" class="link-dark rounded">CLASS ROUTINE</a></li>
          <li><a href="#" class="link-dark rounded">EXAM ROUTINE</a></li>
          <li><a href="#" class="link-dark rounded">TEACHER CLASS ROUTINE</a></li>
          <li><a href="#" class="link-dark rounded">MERIT LIST REPORT</a></li>
          <li><a href="#" class="link-dark rounded">PROGRESS CARD REPORT</a></li>
          <li><a href="#" class="link-dark rounded">STUDENT FINE REPORT</a></li>
          <li><a href="#" class="link-dark rounded">FINE REPORT</a></li>
          <li><a href="#" class="link-dark rounded">USER LOG</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#system-collapse" aria-expanded="false">
        SYSTEM SETTINGS
      </button>
      <div class="collapse" id="system-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">GENERAL SEETINGS</a></li>
          <li><a href="#" class="link-dark rounded">ROLE</a></li>
          <li><a href="#" class="link-dark rounded">LOGIN PERMISSION</a></li>
          <li><a href="#" class="link-dark rounded">ACADEMIC YEAR</a></li>
          <li><a href="#" class="link-dark rounded">HOLIDAY</a></li>
          <li><a href="#" class="link-dark rounded">MANAGE CURRENCY</a></li>
          <li><a href="#" class="link-dark rounded">EMAIL SETTINGS</a></li>
          <li><a href="#" class="link-dark rounded">PAYEMENT METHOD</a></li>
          <li><a href="#" class="link-dark rounded">PAYEMENT METHOD SETTINGS</a></li>
          <li><a href="#" class="link-dark rounded">LANGUAGE</a></li>
          <li><a href="#" class="link-dark rounded">LANGUAGE SETTINGS</a></li>
          <li><a href="#" class="link-dark rounded">SMS SETTINGS</a></li>
          <li><a href="#" class="link-dark rounded">BUTTON MANAGE</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <ul class="list-styled ps-3">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#front-collapse" aria-expanded="false">
        FRONT SETTINGS
      </button>
      <div class="collapse" id="front-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">NEWS LIST</a></li>
          <li><a href="#" class="link-dark rounded">NEWS CATEGORY</a></li>
          <li><a href="#" class="link-dark rounded">TESTIMONIAL</a></li>
          <li><a href="#" class="link-dark rounded">COURSE LIST</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <button type="logout" (click)="logout()" class="btn btn-success d-grid gap-2 col-6 text-white btn-lg"
    style="border-radius: 25px;">LogOut</button>
</div>
</nav>
</div>

