
<div class="container-fuild">
  <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="show" src="/../assets/[Downloader.la]-6370d5ca6c008.jpg" class="d-block w-100 "
          alt="..." style="height: 650px; opacity: 5;">
        <div class="carousel-caption px-3 text-start ">
          <h5>The Complete integrated platform your <br> school needs to partner for the<br> <b>perfect Ecosystem</b>
          </h5>

          <ul class="list-unstyled pt-2 ">
            <li>+ Technical Support (24X7)</li>
            <li>+ ERP &amp; Analytical Dashboard</li>
            <li>+ International Curriculum &amp; Training</li>
          </ul>
          <button class="btn border-rounded px-2 mt-2 text-center text-white"
          style="background-color:rgb(221, 114, 14) ;">Know More</button>
        </div>
      
      </div>
      <div class="carousel-item">
        <img src="/../assets/[Downloader.la]-6370f16ed9e35.jpg" class="d-block w-100 " alt="..."
        style="height: 650px; opacity: 5;">
        <div class="carousel-caption px-3 text-start ">
          <h5 class="">Psychologists &amp; Experts' access made<br> ease for every student's success
          </h5>
          <ul class="list-unstyled pt-2">
            <li>+ Psychologists &amp; Soft-skill Enhancer</li>
            <li>+ Career Experts &amp; Mentors</li>
            <li>+ Special Educator on Campus</li>
          </ul>
          <button class="btn border-rounded px-2 mt-2 text-center text-white"
          style="background-color:rgb(221, 114, 14) ;">Know More</button>
        </div>
      </div> 
      <!-- <div class="carousel-item">
        <img src="/../assets/aaaaaaaaaaaaaaaaaaaaaa.jpg" class="d-block w-100 " alt="..."
          style="height:700px; opacity: 2; ">
        <div class="carousel-caption px-3 text-start ">
          <h5>All-in-One dynamic platform to engage <br> with students, teachers and parents
            <br>
          </h5>
          <button class="btn border-rounded px-2 mt-2 text-center text-white"
            style="background-color:rgb(221, 114, 14) ;">Know More</button>
        </div>
      </div>  -->
    </div>
  </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  
   <div class="container">
    <p class=" text-center mt-3 mb-5 text fs-5 underline mt-5 fw-bold">OUR MAIN CORE
   </p>
  
    <div class="row">
      <div class="col text-center fw-bold ">
        <img src="/../assets/003-electronic-signature.png">
        <p class="core"> DIGITAL INSTITUTION</p>
      </div>
      <div class="col text-center fw-bold">
        <img src="/../assets/002-meeting.png">
        <p class="core"> PERSONAL COUNSELOR</p>
      </div>
      <div class="col text-center fw-bold ">
        <img src="/../assets/006-mentor.png">
        <p class="core"> INDIVIDUAL MENTORSHIP GUIDANCE</p>
      </div>
      <div class="col text-center fw-bold  ">
        <img src="/../assets/male.png">
        <p class="core"> SPECIAL EDUCATORS ON CAMPUS</p>
      </div>
      <div class="col text-center fw-bold ">
        <img src="/../assets/001-analytics.png">
        <p class="core"> STUDENT PERFORMANCE REPORT</p>
      </div>
      <div class="col text-center fw-bold ">
        <img src="/../assets/competence.png">
        <p class="core"> ADVANCE ERP DASHBOARD</p>
      </div>
      <div class="col text-center fw-bold ">
        <img src="/../assets/competence.png">
        <p class="core">DYNAMIC SOFTSKILLS CURRICULUM</p>
      </div>
    
    </div>
  </div>
   <div class="container px-3">
    <p class=" text-center mt-3 text fs-5 mb-5 mt-5 fw-bold underline">WHAT DO WE DO
<div class="row mt-5">
  <div class="col-sm-12 col-md-6 col-xl-6 text-end mt-5">
    <img src="/../assets/Group 21.png">
<p class="fw-bold fs-5" style="color: rgb(39, 39, 153);" >Hybrid Learning System</p>
<p>Hybrid Learning Management Solution with 7-dimensional work at one place both online 
  and offline deploying our own experts into our software</p>
  </div>
  <div class=" col-sm-12 col-md-6 col-xl-6">
    <img src="/../assets/[Downloader.la]-636be10bdf2b2.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;" >
  </div>
</div>
 <div class="row mt-5">
  
  <div class="col-sm-12 col-md-6 col-xl-6">
    <img src="/../assets/[Downloader.la]-636be269f4016.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
  </div>
  <div class="col-sm-12 col-md-6 col-xl-6 mt-5">
    <img src="/../assets/Group 24.png" >
    <p class="fw-bold fs-5" style="color: rgb(86, 14, 88);">Dynamic Learning</p>
    <p>Through our personalized curriculum, we will provide a dynamic learning experience to 
      students who can get exposure to various sectors covering all the soft skills.</p>
      </div>
</div>
<div class="row mt-5">
  <div class="col-sm-12 col-md-6 text-end col-xl-6 mt-5">
    <img src="/../assets/Group 27.png">
    <p class="fw-bold  fs-5" style="color: rgb(37, 188, 219);">Ecosystem</p>

<p>Mentorship Ecosystem & Interactive Workshops provided for all-grade 
  students to make the school culture even more interesting

</p>
  </div>
  <div class="col-sm-12 col-md-6 col-xl-6 ">
    <img src="/../assets/[Downloader.la]-636bc1c2a3078.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;" >
  </div>
</div>
<div class="row mt-5">
  
  <div class="col-sm-12 col-md-6 col-xl-6">
    <img src="/../assets/620c0d2e51cac31b68588bec_202202_04-AutomationAlley-Articles-VR.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
  </div>
  <div class="col-sm-12 col-md-6 col-xl-6 mt-5">
    <img src="/../assets/Group 30.png">
    <p class="fw-bold fs-5" style="color: rgb(18, 172, 108);">Integration</p>
      <p>Technological revolution by providing Next-Gen Integration within our platform that every school and institution needs.</p>
   
      </div>
</div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 text-end col-xl-6 mt-5">
      <img src="/../assets/Group 33.png">
      <p class="fw-bold fs-5" style="color: rgb(50, 165, 30);">Personal Friend</p>
      <p>Each student will have a personal friend connecting with them always,
         while they can chat or call to have any conversation 24/7 through our platform.

      </p>
        </div>
    <div class="col-sm-12 col-md-6 col-xl-6">
      <img src="/../assets/[Downloader.la]-636c4d691f44f.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
    </div>
    
  </div>
  <div class="row mt-5">
  
    <div class="col-sm-12 col-md-6 col-xl-6">
      <img src="/../assets/[Downloader.la]-636c529e6c8ee.jpg" class="img-fluid" style="width:500px ; height:300px ;border-radius:10%;">
    </div>
   
      <div class="col-sm-12 col-md-6 col-xl-6 mt-5">
        <img src="/../assets/Group 453.png">
      <p class=" fw-bold fs-5" style="color: rgb(95, 30, 97);">Future Tech Schools</p>
        <p>Machine Learning, A.I, Blockchain Security and Advanced Database Management
           System is used in our platform for the perfect track for Future-Tech Schools</p>
     </div>
  </div>
    </div>

    <div class="container">
      <p class="text-center mt-3 text fs-5 mb-5 mt-5 fw-bold underline">HOW DO WE DIFFER FROM OTHERS?</p>
      <div class="row">
        <div class="col text-center">
          <img class="" src="/../assets/001-think-different.png">
           <p>Increasing Academic productivity to bring out every students's uniqueness.</p>
          </div>
          <div class="col text-center">
            <img src="/../assets/002-calm.png">
             <p>Operations to reduce the maximum turbulence (Chaos) among the all students and teachers.

            </p>
            </div>
            <div class="col text-center">
              <img src="/../assets/education.png">
               <p>State & national level Competitions are encouraged to bring enormous results.

              </p>
              </div>
              <div class="col text-center">
                <img src="/../assets/alumni.png">
                 <p>Bringing out the international Educational Standards competing with top 100 institutions.

                </p>
                </div>
      </div>

    </div>
<div class="container text-center">
  
  <p class="text-center mt-3 text fs-5 mb-5 mt-5 fw-bold underline">OUR STUDENTS DATABASE MANAGEMENT SYSTEM </p>
  <img src="/../assets/The-benefits-offered-by-an-SDBMS-include-the-following-min-1024x613.png" class="img-fluid mt-5 mb-5 mx-auto d-block" style="height: 500px; width:600px">
</div>
 <div class="container mb-5">
  <div class="row">
    <div class="col">
      <P class="text-start mt-5 text fs-5 fw-bold underline">PARTNERING YOUR SCHOOL WITH US BRINGS
      </P>
      <ul class="list-unstyled text-start std">
        <li>  <img class="px-1" src="/../assets/right-arrow-solid-24.png">Unique study culture for Engaging Ecosystem</li>

          <li>   <img class="px-1" src="/../assets/right-arrow-solid-24.png">Increase in student Enrolment</li>
          
          <li>   <img class="px-1" src="/../assets/right-arrow-solid-24.png">Robust learning experience for students</li>
          
         <li>   <img class="px-1"src="/../assets/right-arrow-solid-24.png">International curriculum for all grade students</li>
          
         <li>  <img class="px-1 " src="/../assets/right-arrow-solid-24.png">Stronger Alumni management</li>
        
      </ul>
    </div>`
    <div class="col">
      <img src="/../assets/pexels-artem-beliaikin-1153976 - Copy.png" class="img-fluid mt-5" style ="width:500px ; height:300px ;border-radius:10%;">
    </div>
    </div>
  </div>
  <div class="container text-center">
  
    <p class="text-center mt-3 text fs-5 mb-5 mt-5 fw-bold underline">OUR PRODUCT INCLUDES</p>
    <img src="/../assets/Top_10_digital_skills_Education_4.0_demands.jpg" class="img-fluid mt-5 mx-auto d-block" style="height: 600px; width:700px ;opacity: 5;">
  </div>
  <!---card-------------------------------card-->
  <div class="container skill mb-5">
    <p class="text-center mt-3 text fs-5 mb-5 mt-5 fw-bold underline">OUR ADVANCED ERP SYSTEM INCLUDES
    </p>
  <div class="card-group">
    <div class="card">
      <img src="/../assets/[Downloader.la]-636dee3d1201c.jpg" class="card-img-top" alt="...">
      <div class="card-body">
       
        <p class="card-text"> Our ERP software helps manage and keep track of day-to-day activities, 
          including administrative process, curriculum management.
           </p>
      </div>
    </div>
    <div class="card">
      <img src="/../assets/[Downloader.la]-636deea4e8145.jpg" class="card-img-top" alt="..." >
      <div class="card-body">
        
        <p class="card-text">The software can automate tasks such as grading, scheduling, 
          Fee management etc This automation can free up time for teachers 
          and administrators to focus on more important tasks.</p>
      </div>
    </div>
    <div class="card">
      <img src="/../assets/[Downloader.la]-636def7f53215 (1).jpg" class="card-img-top" alt="...">
      <div class="card-body">
    
        <p class="card-text"> AND manage day-to-day  activities such as accounting, procurement, project management,
           risk management and compliance, and supply chain operations.</p>
      </div>
    </div>
  </div>
</div>
  
  <div class="container px-5 prog ">
    <div class="row">
      <p class="text-center mt-5 text fs-5  text-warning  ">OUR SKILL DEVELOPMENT PROGRESS RESULT</p>
      <div class="col-sm-12 col-md-6 mb-5 col-xl-6 ">
        <img src="/../assets/[Downloader.la]-636ccc1e31ecc.jpg" class="img-fluid mt-5" style ="width:600px ; height:450px ;border-radius:10px;">

      </div> 
      <div class="text-white  col-sm-12 col-md-6 mb-5 col-xl-6 skill  px-5 ">

        <p class="mt-5 text-white ">Soft skill </p>
        <div class="progress">
          <div class="progress-bar bg-warning " style="width:10%"></div>
          
        </div><p class="text-end text-warning" style="margin-right: -40px ; margin-top: -18px;">10%</p>
        <p class="fs-6">Hard skill</p>
        <div class="progress  ">
          <div class="progress-bar  bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div><p class="text-end text-warning" style="margin-right: -40px ; margin-top: -18px;">25%</p>

        <p class="fs-6">Life skill</p>
        <div class="progress ">
          <div class="progress-bar  bg-warning" role="progressbar" style="width: 35%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          </div><p class="text-end text-warning" style="margin-right: -40px ; margin-top: -18px;">35%</p>

        <p class="fs-6">Learning</p>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        
        </div><p class="text-end text-warning" style="margin-right: -40px ; margin-top: -18px;">45%</p>
        <p class="fs-6">Creative Learning</p>
        <div class="progress">
          <div class="progress-bar  bg-warning" role="progressbar" style="width: 65%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          
        </div><p class="text-end text-warning" style="margin-right: -40px ; margin-top: -18px;">65%</p>
        <p class="fs-6">Integration</p>
        <div class="progress">
          <div class="progress-bar  bg-warning" role="progressbar" style="width:85%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        
        </div><p class="text-end text-warning" style="margin-right:-40px ; margin-top: -18px;">85%</p>
        <p class="fs-6">Result</p>
        <div class="progress ">
          <div class="progress-bar bg-warning " role="progressbar" style="width:100%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          
        </div><p class="text-end text-warning " style="margin-right: -50px ; margin-top: -18px;" >100%</p>
      
        
        </div>
      </div> 
      <div class="text-center mb-5 mt-4 ">
    <button class="btn btn-outline-light  bg-warning px-5 pt-2 pb-2">Know More</button></div>
    </div>

<div class="container mt-5">
  
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 mb-5 col-xl-8 mt-5 ">
      
      <img src="/../assets/[Downloader.la]-636e016d955b9.jpg" class="img-fluid  mx-auto d-block" style="height: 380px; width:800px ;opacity: 5;">

    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 text-start mt-5  ">
      <p class="text-center  text fs-5 underline   ">Upcomming Events Updates</p>

      <div class="row mt-3  row-cols-2">
        <div class="col bor event-list">
          <img class="px-1" src="/../assets/calendar.png" ><b>Nov<br>12</b> <p>Sports Day Celebration</p>
        
        </div>
       
      </div>
      <div class="row  mt-3  row-cols-2">
        <div class="col  event-list">
          <img class="px-1" src="/../assets/calendar.png" ><b>Nov<br>26</b> <p>Sports Day Celebration</p>
        
        </div>
       
      </div>
      <div class="row mt-3 row-cols-2">
        <div class="col   event-list">
          <img class="px-1" src="/../assets/calendar.png" ><b>Dec<br>7</b> <p>Sports Day Celebration</p>
        
        </div>
       
      </div>
      <div class="row mt-3   row-cols-2">
        <div class="col   event-list">  <img class="px-1" src="/../assets/calendar.png" ><b>Dec<br>28</b> <p>Sports Day Celebration</p>
        </div>
      </div>
    </div>
  </div>
</div> 