<div class="container">
  <h4 class="mb-5 mt-3">Welcome - ABC Heigher Secondary School</h4>
    <div class="row">
      <div class="col">
        <div class="card  shadow-lg  mb-5 bg-body rounded mb-3" style="max-width: 18rem;">
          <a class="card1" href="#" style="color: rgb(83, 28, 183) ;">
          <div class="card-body ">
              <h5 class="card-title">Student<span style="margin-left:120px ;">21</span></h5>
              <p class="card-text">Total Student</p>
            
            </div>
          </a>
        </div>
      </div>
         <div class="col">
            <div class="card shadow-lg mb-5 bg-body rounded mb-3" style="max-width: 18rem;">
              <a class="card1" href="#" style="color: rgb(83, 28, 183) ;">
               <div class="card-body">
                  <h5 class="card-title">Teacher<span style="margin-left:120px ;">8</span></h5>
                  <p class="card-text">Total Teacher</p>
                </div>
              </a>
              </div>
        </div>
        <div class="col">
          <div class="card shadow-lg  mb-5 bg-body rounded  mb-3" style="max-width: 18rem;">
            <a class="card1" href="#" style="color: rgb(83, 28, 183) ;">
            <div class="card-body">
                <h5 class="card-title">Parents<span style="margin-left:120px ;">21</span></h5>
                <p class="card-text">Total Parents</p>
              </div>
            </a>
            </div>
      </div>
       <div class="col">
            <div class="card shadow-lg  mb-5 bg-body rounded  mb-3" style="max-width: 18rem;">
              <a class="card1" href="#" style="color: rgb(83, 28, 183)  ;">
              <div class="card-body">
                  <h5 class="card-title">staff<span style="margin-left:140px ;">12</span></h5>
                  <p class="card-text">Total Staff</p>
                </div>
              </a>
              </div>
        </div>
    </div>
  </div>

 