<div class="footer mt-5  ">
    <div class="container">
      
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-xl-4 mt-3 px-5 ">
                <p class="fw-bold mt-5" style="color:rgb(185, 179, 179) ;">About ABC</p>
                   <p>Socialfriend distinguishes itself by 
                       interacting with Ed-tech solutions for schools.
                          Through next-gen technical solutions, 
                            we provide psychological support to students</p>
                    <img class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#" src=".\..\assets\twitter-logo-24 (1).png" alt="twitter-logo-24" style="width:30px ;" height="30px"><img  class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#" src=".\..\assets\instagram-alt-logo-24.png" alt="twitter-logo-24" style="width:30px ;" height="30px"><img class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#" src=".\..\assets\facebook-circle-logo-24 (1).png" alt="twitter-logo-24" style="width:30px ;" height="30px">
                <img  class="btn btn-outline-light rounded-pill p-1 mx-1 btn-social mx-1" href="#"src=".\..\assets\whatsapp-logo-24 (1).png" alt="twitter-logo-24" style="width:30px ;" height="30px">
            </div>
                <div class="col-sm-12 col-md-6 col-xl-4 mt-3  px-5" >
                    <p class="fw-bold mt-5" style="color:rgb(185, 179, 179)">Quick Links</p>
                      <ul class="list-unstyled">
                         <li>About us</li>
                            <li>Benifits</li>
                              <li>Bolgs</li>
                                <li>Servics</li>
                                  <li>Products</li>
                                    <li>contact Us</li>
                                      <li>Careers</li>
                                       </ul>
                                    </div>
                                <div class="col-sm-12 col-md-6 col-xl-4 mt-3 px-5">
                            <p class="fw-bold mt-5 " style="color: rgb(185, 179, 179)">Contact US</p>
                        <p ><img class="" href="#" src=".\..\assets\map-solid-24.png" alt="" style="width:20px ;" height="20px">50 Fillmore Street Providence,Rhode Island 02908 </p>
                    <p ><img class="" href="#" src=".\..\assets\phone-call-regular-24.png" alt="" style="width:20px ;" height="20px">(401) 272-5094</p>
                <p ><img class="" href="#" src=".\..\assets\envelope-solid-24.png" alt="" style="width:20px ;" height="20px"> abc@times2.org</p>
               
            </div>
        </div>
            <hr>
        <div class="row">
            
            <div class="col text-center mb-3">
          <small>  Copyright © 2022 All rights reserved | ABC StressFree LLC</small>
            </div>
                
            </div>
        </div>
       
    </div>
    

